/*Schrift, überschrieben*/

.reveal div {
  font-family: 'Zilla Slab', 'Courier New', serif;
  font-weight: 400;
  }

/*Navigation rechts, Farbe überschrieben*/
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #ffd700;
}

/*Navigation rechts hover, Farbe überschrieben*/
.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #d6b400;
}

/*Navigation runter, Farbe überschrieben*/
.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #ffd700;
}

/*Navigation runter hover, Farbe überschrieben*/
.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #d6b400;
}

/*Navigation links, Farbe überschrieben*/
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #ffd700;
}

/*Navigation links hover, Farbe überschrieben*/
.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #d6b400;
}

/*Navigation hoch, Farbe überschrieben*/
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #ffd700;
}

/*Navigation hoch hover, Farbe überschrieben*/
.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #d6b400;
}

/*Status Bar, Farbe überschrieben*/
.reveal .progress span {
    background: #ffd700;
}

/*Schrift Überschriften überschrieben*/
.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  font-family: 'Zilla Slab', 'Courier New', serif;
  font-weight: 700;
  font-style: italic;
  text-transform: none;
}


.gallery {
  position: relative;
}

.gallery figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.gallery figcaption {
  position: absolute;
  left: 1em;
  bottom: 0.5em;
  z-index: 2;
}

.gallery figure {
  animation-name: wechseln;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.gallery figure.animation_2 {
  animation-name: wechseln;
  animation-duration: 3s;
  animation-delay: 3s;

}

.gallery figure.animation_3 {
  animation-name: wechseln;
  animation-duration: 3s;
  animation-delay: 6s:
  animation-iteration-count: infinite;
}

@keyframes wechseln {
    0% {opacity: 1;}
   25% {opacity: 1;}
   40% {opacity: 1;}
   92% {opacity: 0;}
  100% {opacity: 0;}
}
